@import './../../style/theme.scss';

.Session_Duration_Chart {
    grid-row: 3;
    justify-self: start;
    align-self: end;

    border-radius: 5px;
    background-color: $primary-color;
}

.Session_Duration_Chart-wrapper {
    height: 256px;
    width: 256px;

    border-radius: 5px;
    position: relative;
}

.Session_Duration_Chart-title {
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    opacity: 0.7;
    width: 150px;

    position: absolute;
    top: 0.5rem;
    left: 1rem;
}

.Session_Duration_Chart-tooltip {
    background-color: white;
    padding: 0.5rem;
}

.Session_Duration_Chart-tooltip > div {
    color: black;
    font-size: 12px;
    font-weight: 600;
}

/* Small screen devices (780px and below) */
@media only screen and (max-height: 780px) {
    .Session_Duration_Chart-wrapper {
        height: 200px;
        width: 200px;
    } 
}