.Nutrition_Card-wrapper {
    background-color: #FBFBFB;
    padding: 10%;
    display: flex;
    align-items: center;
    height: 10%;

    border-radius: 5px;
}
  
.Nutrition_Card-icon {
    width: 64px;
    height: 64px;
    margin-right: 1rem;
}

.Nutrition_Card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.Nutrition_Card-data {
    font-weight: 700;
    font-size: 22px;
}

.Nutrition_Card-type {
    font-weight: 500;
    font-size: 14px;
}

/* Small screen devices (780px and below) */
@media only screen and (max-height: 780px) {
    .Nutrition_Card-icon {
        width: 48px;
        height: 48px;
    }
    .Nutrition_Card-data {
        font-size: 20px;
    }
    .Nutrition_Card-type {
        font-size: 12px;
    }
}