@import '../../style/theme.scss';

.side-nav-container {
    display: flex;
    flex-direction: column;

    background: black;
    width: 115px;
    height: 100%;
}

.side-nav-btn {
    height: 56px;
    width: 56px;
    margin: 0.5rem 0;
}

.side-nav-copyritghs {
    color: white;
    font-size: 12px;

    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);

    position: relative;
    left: 44%;
}

.side-nav-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80%;
}

/* Small screen devices (780px and below) */
@media only screen and (max-height: 780px) {
    .side-nav-container {
        width: 72px;
    }

    .side-nav-btn {
        height: 42px;
        width: 42px;
    }
}