@import '../../style/theme.scss';

.dashboard-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;

    height: 100%;
    width: 100%;
}

.linechart-section {
    height: 384px;
    width: 384px;

    position: absolute;
    top: 20%;
    left: 20%;
}

/* Small screen devices (780px and below) */
@media only screen and (max-height: 780px) {

}