@import '../../style/theme.scss';

.dashboard-container {
    position: absolute;
    left: 118px;
    top: 80px;

    height: calc(100% - 80px);
    width: calc(100% - 118px);
}

/* Small screen devices (780px and below) */
@media only screen and (max-height: 780px) {
    .dashboard-container {
        top: 68px;
        left: 72px;
        height: calc(100% - 68px);
        width: calc(100% - 72px);
    }
}