@import '../../style/theme.scss';

.dashboard-container {
    display: flex;

    height: 100%;
    width: 100%;
}

.dashboard-charts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


    width: 50%;
    
    margin: 4rem 4rem 4rem 7rem;
    gap: 1rem;
}

.nutrition_cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 4rem 0 4rem 0;
    width: 15%;
}


/* Small screen devices (780px and below) */
@media only screen and (max-height: 780px) {

}